<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lecture_payment</title>
</head>
<body>
<h1>DB Online Learning Platform</h1>

    <h2>Lecture INFO</h2>
    <table border="1">
        <thead>
            <th>code</th>
            <th>name</th>
            <th>price</th>
            <th>tutor</th>
        </thead>

        <tbody>
            <tr>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
        </tbody>
    </table><br>

<form action="/payment" method="post">
    Your credit: <br>
    Your rating: <br><br>
    Total price: <br>
    Discount price: <br>
    ==============================================================<br>
    Final price: <br>
    <input type="submit" name="send" value="confirm"><br>
    <input type="submit" name="send" value="cancel">
</form>

</body>
</html>