<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lecture_payment</title>
</head>
<body>
<h1>DB Online Learning Platform</h1>

    <h2>Lecture INFO</h2>
    <table border="1">
        <thead>
            <th>code</th>
            <th>name</th>
            <th>price</th>
            <th>tutor</th>
        </thead>
    
        <tbody>
            {% for i in lecture %}
            <tr>
                <td> {{ i[0] }} </td>
                <td> {{ i[1] }} </td>
                <td> {{ i[2] }} </td>
                <td> {{ i[3] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br>

<form action="/payment" method="post">
    Your credit: {{ account[1] }}<br>
    Your rating: {{ account[2] }}<br><br>

    Total price: {{ lecture[0][2] }}<br>
    Discount price: {{ discount_price }}<br>
    ==============================================================<br>
    Final price: {{ final_price }}<br>
    <input type="submit" name="send" value="confirm"><br>
</form>

<input type="submit" name="send" value="cancel" onclick="history.back(-1);">

</body>
</html>