<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main_basic</title>
</head>
<body>
<h1>DB Online Learning Platform</h1>

<h3>Admin function</h3>
You are not allowed to use the admin function. You must be logged in with the admin id to use the admin function.
<br>

<h3>View lecture</h3>
<form action="/my_info_tutor" method="post">
    <input type="submit" name="send" value="my info">
</form>
<br>
==============================================================<br>
<form action="/register" method="post">
    <table border="1">
        <thead>
            <th>popular subject</th>
            <th>popular lecture</th>
            <th>popular tutor</th>
        </thead>

        <tbody>
            <tr>
                <td>{{ popular_lecture[0] }}</td>
                <td>{{ popular_lecture[1] }}</td>
                <td>{{ popular_lecture[2] }}</td>
            </tr>
        </tbody>
    </table>

    <h2>User Info</h2>
    current user: {{ account[0] }} <br>
    credit: {{ account[1] }}<br>
    rating: {{ account[2] }}<br>
</form>


<form action="/return" method="post">
    <input type="submit" name="send" value="logout">
</form>

<h2>Lectures</h2>
<form action="/add" method="post">
    <input type="submit" name="send" value="add">
</form>

<form action="/register_lecture" method="post">
    <table border="1">
        <thead>
            <th>code</th>
            <th>name</th>
            <th>price</th>
            <th>tutor</th>
            <th></th>
        </thead>

        <tbody>
            {% for l in lecture %}
            <tr>
                <td>{{ l[0] }}</td>
                <td>{{ l[1] }}</td>
                <td>{{ l[2] }}</td>
                <td>{{ l[3] }}</td>
                <td><button id="register" type="submit" name="lecture" value="{{ l[1] }}">register</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

</body>
</html>