<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main_tutee</title>
</head>
<body>
<h1>DB Online Learning Platform</h1>
<h2>My lecture</h2>

    <table border="1">
        <thead>
            <th>subject</th>
            <th>lecture_name</th>
            <th>tutor</th>
            <th>price</th>
        </thead>

        <tbody>
            {% for e in enrollment %}
            <tr>
                <td>{{ e[2] }}</td>
                <td>{{ e[3] }}</td>
                <td>{{ e[1] }}</td>
                <td>{{ e[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <input type="submit" name="send" value="return" onclick="history.back(-1);">

</body>
</html>