<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main_tutor</title>
</head>
<body>
<h1>DB Online Learning Platform</h1>
<form action="/info" method="post">
    <label for="admin_function">Admin function</label><br>
    <input type="submit" name="send" value="users info">
    <input type="submit" name="send" value="trades info"><br><br>

    <label for="view_lecture">View lecture</label><br>
    <input type="submit" name="send" value="my info"><br><br>
    ==============================================================<br>
</form>

    <h2>My lecture</h2>
    <table border="1">
        <thead>
            <th>subject</th>
            <th>lecture name</th>
            <th>tutee</th>
            <th>price</th>
        </thead>

        <tbody>
            <tr>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
        </tbody>

        <tbody>
            <tr>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>

<form action="/return" method="post">
    <h2>Registered Lecture</h2>
    <table border="1">
        <thead>
            <th>subject</th>
            <th>lecture name</th>
            <th>tutor</th>
            <th>price</th>
        </thead>

        <tbody>
            <tr>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
      <input type="submit" name="send" value="return">
</form>

</body>
</html>