<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main_tutee</title>
</head>
<body>
<h1>DB Online Learning Platform</h1>
<h2>My lecture</h2>

    <table border="1">
        <thead>
            <th>subject</th>
            <th>lecture_name</th>
            <th>tutee</th>
            <th>price</th>
        </thead>

        <tbody>
            {% for i in my %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Registered lecture</h2>

    <table border="1">
        <thead>
            <th>subject</th>
            <th>lecture_name</th>
            <th>tutor</th>
            <th>price</th>
        </thead>

        <tbody>
            {% for r in registered %}
            <tr>
                <td>{{ r[0] }}</td>
                <td>{{ r[1] }}</td>
                <td>{{ r[2] }}</td>
                <td>{{ r[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <input type="submit" name="send" value="return" onclick="history.back(-1);">

</body>
</html>